.about{
    /* padding-top: 100px; */
    overflow: hidden;
    /* height: 100vh; */
    position: relative;
}
.header_container{
    text-align: center;
    height: 100%;
}

.about .mebg{
    width: 55%;
    position: relative;
    margin: 0 10%;
}
.about .mebg img {
    position: relative;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    border: 5px solid var(--color-primary);
    filter: grayscale(100%);
    transform: rotate(10deg);
    z-index: 1; 
    transition: all 0.5s ease;
    }
.about .mebg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #99d5ff, #1b80c8,#002540) !important;
    border-radius: 20px;
    z-index: 0;
}
.about .mebg:hover img {
    transform: rotate(0deg);
}
.container .card{
    background: var( --color-bg-variant);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;

}
.container .card:hover{
    background: transparent;
    border-color: var(--color-bg-variant);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.container .card .about_icon{
    color: var(--color-primary);
    font-size: 3rem;
    margin-bottom: 10px;

}
.card small{
    font-size: 0.7rem;
    color: var(--color-light);
}
.about p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);

}


@media(max-width: 991px){
    .about{
        height: auto;
        padding: 2rem 0 5rem;
    }
    .about .mebg{
        width: 50%;
        margin-bottom: 3rem;
        margin: auto;
        margin-bottom: 70px;
    }
}

@media(max-width: 768px){
    .about .mebg{
        width: 70%;
    }
    .container p{
        font-size: 0.9rem;
    }
    .container .btn{
        margin:auto;
        display: block;
    }

}