footer{
    background-color:var(--color-primary);
    padding: 70px 0;
    color: black;
    margin-top: 90px;
}
footer  a{
    color: black !important;

}

footer .container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  margin-bottom: 3rem;

}
footer .container ul li{
    font-size: 15px;
}

@media(max-width:600px){
    footer .container ul{
        flex-direction: column;
    }
}
.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.footer_socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(90px);
}

.footer_socials a:hover {
  transform: translateY(-4px) scale(1.05);
  background: linear-gradient(135deg, #1fb6ff, #7c5cff);
  color: #fff;
  box-shadow: 0 0 15px rgba(126, 23, 23, 0.4);
}

.footer_socials a:nth-child(1):hover { background: #1877f2; } 
.footer_socials a:nth-child(2):hover { background: #e1306c; } 
.footer_socials a:nth-child(3):hover { background: #000; }

@media (max-width: 600px) {
  .footer_socials {
    gap: 0.75rem;
  }

  .footer_socials a {
    width: 38px;
    height: 38px;
    font-size: 1.1rem;
  }
}

 .footer_copyright{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 35px;
 }